Author: XsF1re, ichitaso, level3tjg
Maintainer: alias20
Package: kr.xsf1re.vnodebypass
Name: vnodebypass
Depends: firmware (>= 15.0), firmware (<< 17.0), com.opa334.ccsupport, libkrw0-dopamine (>= 2.0)
Section: System
Version: 0.4.2
Architecture: iphoneos-arm
Description: An expermental tool to hide jailbreak files for bypass detection. (Only supported iOS 15-16 with Dopamine2)
Depiction: https://cydia.ichitaso.com/depiction/vnodebypass.html
Tag: role::hacker, compatible::ios15, compatible::ios16
Icon: https://raw.githubusercontent.com/ichitaso/vnodebypass_theme/main/layout/Library/Themes/vnodebypass.theme/Icon.png
